.home-holderr {
    background-image: url('../assets/world-of-tanks-wot-wallpaper-hd-2560x1440-45054.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
